@charset "UTF-8";

/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    font-family: isans;
}

input {
    outline: none;
}

@font-face {
    font-family: 'yekan';
    src: url('../font/Yekan.eot?#') format('eot'), url('../font/Yekan.svg') format('svg'), url('../font/Yekan.woff') format('woff'), url('../font/Yekan.ttf') format('truetype');
}

@font-face {
    font-family: 'byekan';
    src: url('../font/BYekan.eot?#') format('eot'), url('../font/BYekan.woff') format('woff'), url('../font/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: 'isans';
    font-style: normal;
    font-weight: bold;
    src: url('../font/iransans.eot');
    src: url('../font/iransans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/iransans.woff2') format('woff2'), url('../font/irsans_p30download.com.ttf') format('truetype');
    /* FF39+,Chrome36+, Opera24+*/
}

@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: bold;
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.svg') format('svg'), url('../font/fontawesome-webfont.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fontawesome-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'IRYekan';
    font-style: normal;
    font-weight: bold;
    src: url('../font/IRYekan.eot');
    src: url('../font/IRYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/IRYekan.ttf') format('truetype');
}

@font-face {
    font-family: 'isansbold';
    src: url('../font/iransans_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../font/web%20fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('../font/web%20fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/web%20fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/web%20fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/web%20fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/web%20fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/web%20fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/web%20fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/web%20fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/web%20fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/web%20fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../font/web%20fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/web%20fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/web%20fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/web%20fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
